pesan.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "461aa8c4-bb6c-4fc9-a37e-8892fa8a1128",
      "name": "When chat message received",
      "webhookId": "ce0a08d2-be68-4e42-8d3c-a45df124c696"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promt }}",
        "options": {
          "systemMessage": "selalu balan dalam bahasa indonesia,\njangan diam lakukan opsional jika costumer mengajak interaksi,\ngunakan baha yang baik dan sopan,\nnama anda adalah erika, dan anda adalah sales bot yang di tujukan membalas semua pesan pelangnggan.\n\nselalu gunakan tools sheet untuk menjawab pertanyaan.\n\nberikan nama barang harga dan ukurannya dengan refrensi sheet, dan biarkan  bot yang bekerja.\n\njelaskan kepanjangan erika adalah erina dan syafiqah dia adalah kedua anak kesayangan saya yang saya cintai dan sayangi.\n\njawab salam yang diberikan costumer, dan ucapkan terimakasih apabila sesi terakhir.\n\njika costumer menanyakan ongkos kirim berikan perhitungannya dengan refrensi di web saya https://pesonagolden.netlify.app/, kamu berikan perhitungannya secara cepat dan akurat"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "bbcddb16-7d30-4d85-acfa-74240f61c6cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "id": "25d817ca-ce0b-4c00-8da0-6979d887e24c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1a6gLL2sXnLC363l",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "selalu gunakan sheet ini untuk memberikan refrensi semua jawaban",
        "url": "https://docs.google.com/spreadsheets/d/e/2PACX-1vRlTR0FEm8B_0NiXiQG1qXUbOkyVM2qttuaZ-C_c9nrmVvt8Rz0PgIeZvHicyASn1q1jgnvJ-1Nbmmh/pub?gid=1723010283&single=true&output=csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        600,
        240
      ],
      "id": "ca6635b7-1535-4562-b8ee-e68afca36ed4",
      "name": "Sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5f75ceb-64ce-4403-a083-d65c30ef8776",
              "name": "promt",
              "value": "={{ $json.chatInput||$json.body.body }}",
              "type": "string"
            },
            {
              "id": "8bb7b23b-5efa-44d1-a38f-dadd8946c0fe",
              "name": "chatid",
              "value": "={{ $json.body.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "af687c98-2e73-4605-9812-a67811a75339",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "785f53f0-0d42-4dac-a189-a6e1d16b7dc5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        80
      ],
      "id": "9aa528b1-9588-4470-8a0f-3f91a5589b2e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ca7d11f-8170-44a4-884d-ef3b440b051a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "id": "09be133c-ffe5-4151-ae05-626c19af3c45",
      "name": "Webhook",
      "webhookId": "5ca7d11f-8170-44a4-884d-ef3b440b051a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bee657e0-ca10-49bf-bdf5-45311fef2117",
              "leftValue": "={{ $('Edit Fields').item.json.chatid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "9f575f4b-dcdb-44bf-802b-ac3021f8c6bc",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://app.notif.my.id/api/v2/send-message",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "tk2mooH3yhKScZ23EI1751872182435"
            },
            {
              "name": "mtype",
              "value": "text"
            },
            {
              "name": "receiver",
              "value": "={{ $('Edit Fields').item.json.chatid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -100
      ],
      "id": "074cec30-6a85-431c-92bf-021aa23e52a8",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "koesong.app.n8n.cloud",
            "user-agent": "axios/1.9.0",
            "content-length": "457",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "103.20.235.12",
            "cf-ew-via": "15",
            "cf-ipcountry": "SG",
            "cf-ray": "95b58c4f723d9fdf-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "103.20.235.12, 162.158.170.126",
            "x-forwarded-host": "koesong.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-41-785c66d969-7lscl",
            "x-is-trusted": "yes",
            "x-real-ip": "103.20.235.12"
          },
          "params": {},
          "query": {},
          "body": {
            "session": "628131384401407072025rj140332",
            "id": "3F2730C9701E2D8E72A6",
            "unixTimestamp": 1751872498,
            "timeStamp": "07/07/25 14:14:58",
            "botNumber": "6281313844014@s.whatsapp.net",
            "from": "6285811384414@s.whatsapp.net",
            "sender": "6285811384414@s.whatsapp.net",
            "fromMe": false,
            "pushName": "As",
            "isGroup": false,
            "groupName": false,
            "type": "extendedTextMessage",
            "mtype": "text",
            "body": "hallo",
            "address": false,
            "degreesLatitude": false,
            "degreesLongitude": false,
            "urlmedia": false
          },
          "webhookUrl": "https://koesong.app.n8n.cloud/webhook/5ca7d11f-8170-44a4-884d-ef3b440b051a",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b57da41-b193-46fa-8705-0184da835816",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2dc157e89e947e12992f0dfe3649310a46fede97ca85b97f56f4ece721b582f"
  },
  "id": "TnVW4Smn97qMYd6z",
  "tags": []
}
